* { box-sizing: border-box; }
body { margin: 0; font-family: system-ui, sans-serif; }
.figma-root { position: relative; width: 1920px; min-height: 2326px; margin: 0 auto; }
.n_0_Home_Page_-_desktop {
  position: absolute;
  left: 0.00px;
  top: 0.00px;
  width: 1920.00px;
  height: 2326.00px;
  box-sizing: border-box;
  background: rgba(4,12,31,1.0);
}
.n_1_Gemini_Generated_Image_ydwja7ydwja7ydwj_1 {
  position: absolute;
  left: -123.00px;
  top: 340.00px;
  width: 2166.00px;
  height: 1986.00px;
  box-sizing: border-box;
}
.n_2_Socials_Bar {
  position: absolute;
  left: 578.00px;
  top: 2191.00px;
  width: 760.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_3_insta {
  position: absolute;
  left: 578.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_4_insta {
  position: absolute;
  left: 578.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_5_x-twitter {
  position: absolute;
  left: 752.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_6_Clip_path_group {
  position: absolute;
  left: 752.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_7_Group {
  position: absolute;
  left: 752.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_8_Vector {
  position: absolute;
  left: 752.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_9_youtube {
  position: absolute;
  left: 926.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_10_youtube {
  position: absolute;
  left: 926.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_11_twitch {
  position: absolute;
  left: 1100.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_12_Vector {
  position: absolute;
  left: 1100.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_13_tictok {
  position: absolute;
  left: 1274.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
}
.n_14_tictok {
  position: absolute;
  left: 1274.00px;
  top: 2191.00px;
  width: 64.00px;
  height: 64.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_15_Card_Section {
  position: absolute;
  left: 120.00px;
  top: 1336.00px;
  width: 1680.00px;
  height: 635.00px;
  box-sizing: border-box;
}
.n_16_Cards {
  position: absolute;
  left: 120.00px;
  top: 1336.00px;
  width: 1680.00px;
  height: 635.00px;
  box-sizing: border-box;
}
.n_17_Card_Title {
  position: absolute;
  left: 120.00px;
  top: 1336.00px;
  width: 482.00px;
  height: 635.00px;
  box-sizing: border-box;
}
.n_18_Card {
  position: absolute;
  left: 120.00px;
  top: 1336.00px;
  width: 482.00px;
  height: 635.00px;
  box-sizing: border-box;
  background: rgba(4,12,31,1.0);
}
.n_19_simple-icons_cbc {
  position: absolute;
  left: 322.74px;
  top: 1383.00px;
  width: 75.19px;
  height: 75.19px;
  box-sizing: border-box;
}
.n_20_Vector {
  position: absolute;
  left: 322.73px;
  top: 1383.00px;
  width: 75.19px;
  height: 75.20px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_21_CBC_FEATURE {
  position: absolute;
  left: 209.00px;
  top: 1473.00px;
  width: 305.00px;
  height: 100.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 48.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_22_How_a_statistician_can_help_you_build_your_fairy-tale_trip_to_Disney {
  position: absolute;
  left: 174.00px;
  top: 1620.00px;
  width: 375.00px;
  height: 148.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 400;
  display: flex; align-items: center;
}
.n_23_Sign_Up_Button {
  position: absolute;
  left: 238.15px;
  top: 1802.50px;
  width: 241.67px;
  height: 97.48px;
  box-sizing: border-box;
  background: rgba(166,0,56,1.0);
}
.n_24_Sign_Up {
  position: absolute;
  left: 314.99px;
  top: 1832.74px;
  width: 88.00px;
  height: 37.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_25_Card {
  position: absolute;
  left: 719.00px;
  top: 1336.00px;
  width: 482.00px;
  height: 635.00px;
  box-sizing: border-box;
}
.n_26_Card {
  position: absolute;
  left: 719.00px;
  top: 1336.00px;
  width: 482.00px;
  height: 635.00px;
  box-sizing: border-box;
  background: rgba(4,12,31,1.0);
}
.n_27_ix_dashboard {
  position: absolute;
  left: 921.74px;
  top: 1383.00px;
  width: 75.19px;
  height: 75.19px;
  box-sizing: border-box;
}
.n_28_Group {
  position: absolute;
  left: 928.00px;
  top: 1395.53px;
  width: 62.66px;
  height: 50.12px;
  box-sizing: border-box;
}
.n_29_Vector {
  position: absolute;
  left: 928.00px;
  top: 1395.53px;
  width: 62.66px;
  height: 50.12px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_30_Vector {
  position: absolute;
  left: 935.83px;
  top: 1414.33px;
  width: 21.93px;
  height: 21.93px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_31_Card_Subtitle {
  position: absolute;
  left: 793.00px;
  top: 1473.00px;
  width: 335.00px;
  height: 106.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 48.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_32_Card_Description {
  position: absolute;
  left: 773.00px;
  top: 1619.00px;
  width: 375.00px;
  height: 148.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 400;
  display: flex; align-items: center;
}
.n_33_Sign_Up_Button {
  position: absolute;
  left: 837.15px;
  top: 1802.50px;
  width: 241.67px;
  height: 97.48px;
  box-sizing: border-box;
  background: rgba(166,0,56,1.0);
}
.n_34_Sign_Up {
  position: absolute;
  left: 895.99px;
  top: 1832.74px;
  width: 124.00px;
  height: 37.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_35_Card {
  position: absolute;
  left: 1318.00px;
  top: 1336.00px;
  width: 482.00px;
  height: 635.00px;
  box-sizing: border-box;
}
.n_36_Card {
  position: absolute;
  left: 1318.00px;
  top: 1336.00px;
  width: 482.00px;
  height: 635.00px;
  box-sizing: border-box;
  background: rgba(4,12,31,1.0);
}
.n_37_carbon_machine-learning-model {
  position: absolute;
  left: 1520.74px;
  top: 1383.00px;
  width: 75.19px;
  height: 75.19px;
  box-sizing: border-box;
}
.n_38_Vector {
  position: absolute;
  left: 1525.43px;
  top: 1387.70px;
  width: 65.79px;
  height: 65.79px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_39_Card_Subtitle {
  position: absolute;
  left: 1407.00px;
  top: 1473.00px;
  width: 305.00px;
  height: 99.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 48.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_40_Card_Description {
  position: absolute;
  left: 1372.00px;
  top: 1619.00px;
  width: 375.00px;
  height: 111.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 400;
  display: flex; align-items: center;
}
.n_41_Sign_Up_Button {
  position: absolute;
  left: 1436.15px;
  top: 1802.50px;
  width: 241.67px;
  height: 97.48px;
  box-sizing: border-box;
  background: rgba(166,0,56,1.0);
}
.n_42_Sign_Up {
  position: absolute;
  left: 1468.99px;
  top: 1832.74px;
  width: 176.00px;
  height: 37.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_43_Hero {
  position: absolute;
  left: 120.00px;
  top: 421.00px;
  width: 1208.00px;
  height: 520.00px;
  box-sizing: border-box;
}
.n_44_Get_Started_Btn {
  position: absolute;
  left: 889.00px;
  top: 734.00px;
  width: 439.00px;
  height: 180.00px;
  box-sizing: border-box;
  background: rgba(166,0,56,1.0);
}
.n_45_Sign_Up {
  position: absolute;
  left: 943.50px;
  top: 800.50px;
  width: 330.00px;
  height: 47.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 40.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_46_Sub_Headline {
  position: absolute;
  left: 380.00px;
  top: 707.00px;
  width: 451.00px;
  height: 234.00px;
  box-sizing: border-box;
  background: rgba(157,203,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 33.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_47_Headline {
  position: absolute;
  left: 120.00px;
  top: 421.00px;
  width: 792.00px;
  height: 200.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 95.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_48_Avatar {
  position: absolute;
  left: 167.00px;
  top: 743.00px;
  width: 148.00px;
  height: 148.00px;
  box-sizing: border-box;
}
.n_49_Header {
  position: absolute;
  left: 120.00px;
  top: 58.00px;
  width: 1680.00px;
  height: 67.00px;
  box-sizing: border-box;
}
.n_50_master_large_coaster_dark_3_1 {
  position: absolute;
  left: 120.00px;
  top: 58.00px;
  width: 247.00px;
  height: 67.00px;
  box-sizing: border-box;
}
.n_51_Nav_Bar {
  position: absolute;
  left: 658.00px;
  top: 78.00px;
  width: 603.00px;
  height: 28.00px;
  box-sizing: border-box;
}
.n_52_Nav_Button {
  position: absolute;
  left: 658.00px;
  top: 78.00px;
  width: 167.00px;
  height: 28.00px;
  box-sizing: border-box;
}
.n_53_Products {
  position: absolute;
  left: 658.00px;
  top: 78.00px;
  width: 132.00px;
  height: 28.00px;
  box-sizing: border-box;
  background: rgba(255,255,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 30.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_54_Down_Icon {
  position: absolute;
  left: 801.00px;
  top: 85.00px;
  width: 24.00px;
  height: 14.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_55_Nav_Button {
  position: absolute;
  left: 882.00px;
  top: 78.00px;
  width: 67.00px;
  height: 28.00px;
  box-sizing: border-box;
}
.n_56_Products {
  position: absolute;
  left: 882.00px;
  top: 78.00px;
  width: 149.00px;
  height: 28.00px;
  box-sizing: border-box;
  background: rgba(255,255,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_57_Down_Icon {
  position: absolute;
  left: 1025.00px;
  top: 85.00px;
  width: 24.00px;
  height: 14.00px;
  box-sizing: border-box;
}
.n_58_Nav_Button {
  position: absolute;
  left: 1006.00px;
  top: 78.00px;
  width: 55.00px;
  height: 28.00px;
  box-sizing: border-box;
}
.n_59_Products {
  position: absolute;
  left: 1006.00px;
  top: 78.00px;
  width: 149.00px;
  height: 28.00px;
  box-sizing: border-box;
  background: rgba(255,255,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_60_Down_Icon {
  position: absolute;
  left: 1149.00px;
  top: 85.00px;
  width: 24.00px;
  height: 14.00px;
  box-sizing: border-box;
}
.n_61_Nav_Button {
  position: absolute;
  left: 1118.00px;
  top: 78.00px;
  width: 115.00px;
  height: 28.00px;
  box-sizing: border-box;
}
.n_62_Products {
  position: absolute;
  left: 1118.00px;
  top: 78.00px;
  width: 149.00px;
  height: 28.00px;
  box-sizing: border-box;
  background: rgba(255,255,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_63_Down_Icon {
  position: absolute;
  left: 1261.00px;
  top: 85.00px;
  width: 24.00px;
  height: 14.00px;
  box-sizing: border-box;
}
.n_64_Sign_Up_Button {
  position: absolute;
  left: 1649.00px;
  top: 58.00px;
  width: 151.00px;
  height: 67.00px;
  box-sizing: border-box;
  background: rgba(166,0,56,1.0);
}
.n_65_Sign_Up {
  position: absolute;
  left: 1662.50px;
  top: 73.00px;
  width: 124.00px;
  height: 37.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 32.0px;
  font-weight: 700;
  display: flex; align-items: center;
}
.n_66_Log_In_Button {
  position: absolute;
  left: 1469.00px;
  top: 58.00px;
  width: 151.00px;
  height: 67.00px;
  box-sizing: border-box;
  background: rgba(233,244,255,1.0);
}
.n_67_Log_In {
  position: absolute;
  left: 1495.00px;
  top: 74.00px;
  width: 99.00px;
  height: 35.00px;
  box-sizing: border-box;
  background: rgba(4,12,31,1.0);
  font-family: 'Consolas', sans-serif;
  font-size: 30.0px;
  font-weight: 700;
  display: flex; align-items: center;
}